@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        body {
            margin: 0;
            font-family: 'Quicksand', sans-serif;
            background-color: #F1EDDA;
        }

        .sidebar {
            background-color: #472F35;
            width: 80px;
            height: 100vh;
            transition: width 0.3s;
            position: fixed;
            overflow: hidden;
            z-index: 1000;
        }

            .sidebar:hover {
                width: 250px;
            }

            .sidebar .logo {
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                color: #F1EDDA;
            }

            .sidebar ul {
                list-style: none;
                padding: 0;
            }

                .sidebar ul li, .trigger-container {
                    position: relative;
                }

                    .sidebar ul li a, .trigger-container a {
                        display: flex;
                        align-items: center;
                        padding: 15px;
                        text-decoration: none;
                        color: #F1EDDA;
                        font-size: 16px;
                        transition: background 0.3s;
                    }

                        .sidebar ul li a:hover, .trigger-container a:hover {
                            background-color: #AD9162;
                        }

                    .sidebar ul li i, .trigger-container .material-icons {
                        margin-right: 10px;
                        font-size: 20px;
                        margin-left: 15px;
                        width: 24px;
                        text-align: center;
                        display: inline-block;
                    }

                        .trigger-container .material-icons.account_circle {
                            font-size: 24px;
                            width: 24px;
                            text-align: center;
                            display: inline-block;
                        }

                    .sidebar ul li span, .trigger-container span:not(.material-icons) {
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 0.3s, visibility 0.3s;
                        white-space: nowrap;
                    }

            .sidebar:hover ul li span, .sidebar:hover .trigger-container span:not(.material-icons) {
                opacity: 1;
                visibility: visible;
            }

            .sidebar:hover ~ .main-content {
                margin-left: 250px;
            }

        .main-content {
            margin-left: 80px;
            padding: 20px;
        }

        .header {
            font-size: 30px;
            color: #472F35;
            margin-bottom: 20px;
        }

        .table-container {
            background-color: #FFFFFF;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            margin-top: 20px;
        }

            .table-container table {
                width: 100%;
                border-collapse: collapse;
            }

            .table-container table, .table-container th, .table-container td {
                border: 1px solid #AD9162;
            }

            .table-container th, .table-container td {
                padding: 10px;
                text-align: left;
            }

            .table-container th {
                background-color: #472F35;
                color: #F1EDDA;
            }

            .table-container td {
                background-color: #F9F9F9;
            }

        .button-1 {
            background-color: #AD9162;
            color: #F1EDDA;
            border-radius: 5px;
            padding: 10px 15px;
            text-decoration: none;
            display: inline-block;
        }

            .button-1:hover {
                background-color: #472F35;
            }

        .button-2 {
            background-color: #ad6662;
            color: #F1EDDA;
            border-radius: 5px;
            padding: 10px 15px;
            text-decoration: none;
            display: inline-block;
        }

            .button-2:hover {
                background-color: #472F35;
            }

        .modal-content {
            background-color: #F9F9F9;
            color: #472F35;
        }

            .modal-content h4 {
                text-align: center;
                font-size: 24px;
                font-weight: bold;
                color: #472F35;
            }

        .input-field input:focus,
        .input-field select:focus {
            border-bottom: 1px solid #AD9162 !important;
            box-shadow: 0 1px 0 0 #AD9162 !important;
        }

        .input-field label {
            color: #472F35;
        }

        .select-wrapper input.select-dropdown {
            color: #472F35;
        }

        .button {
            border: none;
            background-color: #AD9162;
            color: #F1EDDA;
            border-radius: 5px;
            padding: 10px 15px;
            text-decoration: none;
            text-align: center;
            display: inline-block;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 1.2;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

            .button:hover {
                background-color: #472F35;
                color: #F1EDDA;
                transform: scale(1.05);
            }

        #userModal {
            max-width: 500px;
            border-radius: 15px;
            background-color: #F1EDDA;
        }

            #userModal .modal-content {
                padding: 24px;
                background-color: rgba(173, 145, 98, 0.1);
            }

            #userModal .section {
                padding: 20px;
                color: #333;
            }
    </style>
</head>
<body ng-init="loadBookings()">
    <div class="sidebar">
        <div class="logo">
            <img src="~/Content/Logo.jpg" alt="Logo" style="width: 50px; height: 50px; object-fit: cover;">
        </div>
        <div class="trigger-container">
            <a class="modal-trigger" href="#userModal">
                <span class="large material-icons account_circle">account_circle</span>
                <span>@ViewBag.FirstName @ViewBag.LastName</span>
            </a>
        </div>
        <ul>
            <li><a href="AdminDashboard"><i class="material-icons">dashboard</i><span>Dashboard</span></a></li>
            <li><a href="AdminAccount"><i class="material-icons">account_circle</i><span>Accounts</span></a></li>
            <li><a href="AdminLogs"><i class="material-icons">access_time</i><span>Logs</span></a></li>
            <li><a href="AdminPromos"><i class="material-symbols-outlined">sell</i><span>Promos</span></a></li>
            <li  class="active"><a href="AdminBookings"><i class="material-icons">event_note</i><span>Bookings</span></a></li>
            <li><a href="AdminTables"><i class="material-symbols-outlined">table_restaurant</i><span>Tables</span></a></li>
            <li><a href="NoAccountHome"><i class="material-icons">exit_to_app</i><span>Log Out</span></a></li>
        </ul>
    </div>

    <!-- PROFILE MODAL -->
    <div id="userModal" class="modal">
        <div class="modal-content">
            <h5 class="center-align" style="color: #ad9162; font-weight: 700;">User Information</h5>
            <div class="divider"></div>
            <div class="section">
                <p><strong>Full Name:</strong>  @ViewBag.FirstName @ViewBag.LastName</p>
                <p><strong>Phone Number:</strong> @ViewBag.Phone_Num</p>
                <p><strong>Email:</strong> @ViewBag.Email</p>
                <p><strong>Role:</strong> @ViewBag.RoleName</p>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="header">Manage Bookings</div>

        <!-- BOOKINGS TABLE -->
        <div class="table-container">
            <table id="bookingsTable" class="display">
                <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>User Full Name</th>
                        <th>Table</th>
                        <th>Reservation Date</th>
                        <th>Reservation Time</th>
                        <th>Number of Guests</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="b in bookings">
                        <td>{{ b.bookingID }}</td>
                        <td>{{ b.userFullName }}</td>
                        <td>{{ b.tableID }}</td>
                        <td>{{ b.reservationDate }}</td>
                        <td>{{ b.reservationTime }}</td>
                        <td>{{ b.numOfGuests }}</td>
                        <td>{{ b.statusName }}</td>
                        <td>
                            <a class="button-1" ng-click="editBooking(b)">Edit</a>
                            <a class="button-2" ng-click="deleteBooking(b.bookingID)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- EDIT BOOKINGS MODAL -->
        <div id="editModal" class="modal">
            <div class="modal-content">
                <h4>Edit Booking</h4>
                <form enctype="multipart/form-data">
                    <div class="row">
                        <div class="file-field input-field">
                            <div class="btn" style="background-color: #472F35;">
                                <span style="color: #F1EDDA;">Image</span>
                                <input type="file" accept="image/*" id="editPromoImage" ng-model="editPromoImage" onchange="angular.element(this).scope().getFile(this)">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload Promo Image" required>
                            </div>
                        </div>
                        <div class="input-field col s12">
                            <input id="editPromoName" type="text" class="validate" ng-model="editPromoName" required>
                            <label for="editPromoName" style="color: #472F35;">Promo Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="editstartDate" type="date" class="datepicker" ng-model="editstartDate" ng-init="editstartDate = ''" required>
                            <label for="editstartDate" style="color: #472F35;">Start Date</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="editendDate" type="date" class="datepicker" ng-model="editendDate" ng-init="editendDate = ''" required>
                            <label for="editendDate" style="color: #472F35;">End Date</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="editpromoDescription" class="materialize-textarea" ng-model="editpromoDescription" required></textarea>
                            <label for="editpromoDescription" style="color: #472F35;">Promo Description</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" style="background-color: #AD9162; color: #F1EDDA" ; ng-click="updatePromo()">Save Changes</button>
                <button class="btn" style="background-color: #472F35; color: #F1EDDA;" ng-click="closeModal()">Cancel</button>
            </div>
        </div>

    </div>
    <!-- Initialize Materialize datepicker -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Initialize Modal
            const elemsModal = document.querySelectorAll('.modal');
            const instancesModal = M.Modal.init(elemsModal);

            // Initialize Datepicker
            const elemsDatepicker = document.querySelectorAll('.datepicker');
            const instancesDatepicker = M.Datepicker.init(elemsDatepicker, {
                format: 'yyyy-mm-dd',
                i18n: {
                    cancel: 'Cancel',
                    clear: 'Clear',
                    done: 'Ok'
                },
                autoClose: true
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var modals = document.querySelectorAll('.modal');
            M.Modal.init(modals);

            var selects = document.querySelectorAll('select');
            M.FormSelect.init(selects);
        });
    </script>
</body>
</html>